################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSL.MvvmTheKnockoutJsRedemption/bin
/FSL.MvvmTheKnockoutJsRedemption/obj/Debug
*.user
/.vs
/packages
/FSL.MvvmTheKnockoutJsRedemption/obj/Release
